<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="reviewer">
	<f:translate key="tx_catalogueftcbtclc_domain_model_review.reviewer" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="reviewer" /><br />
<label for="comment">
	<f:translate key="tx_catalogueftcbtclc_domain_model_review.comment" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="comment" cols="40" rows="15" /><br />
<label for="rating">
	<f:translate key="tx_catalogueftcbtclc_domain_model_review.rating" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="rating" /><br />
<label for="reviewDate">
	<f:translate key="tx_catalogueftcbtclc_domain_model_review.review_date" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="reviewDate" value="{review.reviewDate->f:format.date()}" /><br />
</html>